<div class="row">
    <div class="col-2"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Shipping
            </div>
            <div class="card-body">
                <h5 class="card-title">Admin Login</h5>

                <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                    <div>
                        <label class="form-label" for="username"></label>
                        <input class="form-control" formControlName="username" id="username" placeholder="username"
                               type="text">
                    </div>
                    <div>
                        <label class="form-label" for="password"></label>
                        <input class="form-control" formControlName="password" id="password" placeholder="password"
                               type="password">
                    </div>&nbsp;

                    <div>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>