<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>&nbsp;{{pageTitle}}</a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/search']">Search</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/cart']">cart</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/checkout']">checkout</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/login']">Admin login</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/inventory']">Inventory</a></li>
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>
