<div class="row">
  <div class="row">

  <div class="row">
    <input type="text" [(ngModel)]="listFilter">
    <button (click)="search()">search</button>
  </div>

  <div>
    <div class="row" *ngFor="let food of foodsFiltered">
      <div class="row">this is a test{{food.foodName}}</div>
      <div class="row">this is a test</div>
      <div class="row">this is a test</div>
      <div class="row">this is a test</div>
    </div>
  </div>

  <!--
  |----------------|
  | search    send |
  |----------------|
  | - item 1 ------|
  | - item 2 ------|
  | - item 3 ------|
  |----------------|
  -->
  </div>
  </div>
